*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand img{
    width:70px;
    height: 70px;
}
.carousel-inner,
.carousel-inner  img{
    height: 700px;
    object-fit: none;
}
.row{
margin-top: 50px;
}
iframe{
    width: 600px;
    height: 450px;
}
/*media screen responsivitet*/
/*max,min mini-max*/
@media screen and (max-width:992px) {
    iframe{
        width:100%;}
}
@media screen and (max-width:600px){
    iframe{
        width: 100%;
    }
}
    
@media screen and (max-width:400px){
    iframe{
        width: 100%;
    }
}
@media screen and (max-width:200px){
    iframe{
        width: 100%;
    }
}
   